 <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create New Post</h5>

          <p class="card-text">
            <form id="create-blog-form">
                <div class="form-group">
                  <label for="PostTitle">Title</label>
                  <input type="text" class="form-control" id="posttitle" aria-describedby="PostTitle" placeholder="Enter Title">
                 </div>
                <div class="form-group">
                  <label for="PostContent">Content</label>
                  <input type="text" class="form-control" id="postcontent" placeholder="Enter Content">
                </div>

                <button type="submit" id="add-post-button" class="btn btn-primary">Submit</button>
              </form>
          </p>
        </div>
      </div>

      <script src="/js/post.js"></script>