<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/jass.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Tech Blog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" href="#">Dashboard</a>
          <a class="nav-item nav-link" href="#">Login</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">The Tech Blog</h1>
    </div>
    <section>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create New Post</h5>

          <p class="card-text">
            <form>
                <div class="form-group">
                  <label for="PostTitle">Title</label>
                  <input type="text" class="form-control" id="posttitle" aria-describedby="PostTitle" placeholder="Enter Title">
                 </div>
                <div class="form-group">
                  <label for="PostContent">Content</label>
                  <input type="text" class="form-control" id="postcontent" placeholder="Enter Content">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </p>
        </div>
      </div>


    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>