<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Posted by {{blog.user.username}} on {{blog.date_created}}
          </h6>
          <p class="card-text">
            {{blog.content}}
          </p>
        </div>
      </div>
{{/each}}
